<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mention your course</h1>
    <!-- <form action="/course" method="GET">
        <label for="course">Course:</label>
        <input type="text" name="course" id="course">
        <input type="submit" value="Submit">
    </form> -->
    <form action="/one" method="get">
        <label for="input1">Course:</label>
        <input type="text" id="input1" name="c_name">
        <label for="input2">Course ID:</label>
        <input type="text" id="input2" name="id">

        <input type="submit" value="Submit">
    </form>
</body>
</html>